body {
    height: 100vh;
    margin: 0;
}

.content {
    height: 90%;
    max-height: 90%;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.video-container {
    display: flex;
    flex-direction: row;
}

.video-view {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-view video {
    width: 200%;  /* Double the original width */
    height: 200%; /* Double the original height */
    max-width: 100%; /* Ensure it doesn't exceed the container */
    max-height: 100%; /* Ensure it doesn't exceed the container */
}

.video-view .button-28 {
    margin: 5px;
}

.hidden {
    display: none;
}
